<form name="coursevm.form" class="form-horizontal" ng-submit="coursevm.submit()" role="form" novalidate>
	<div class="form-group" ng-class=""> <!-- { 'has-error' : course.errors[0].field == 'name' } -->
		<label class="col-sm-2 control-label" for="name">Name:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" id="name" placeholder="Course name" ng-model="coursevm.courseModel.name" ng-required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="description">Description</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="3" id="description" placeholder="Add course description here" ng-model="coursevm.courseModel.description"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="startDate">Start date:</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-xs-4">
					<p class="input-group">
						<input 	id = "startDate"
								ng-model="coursevm.courseModel.startDate"
								is-open="coursevm.datetimepicker.status.opened" 
								ng-click="coursevm.openDatetimePicker($event)"
								ng-required="true"
								type="text"
								show-weeks="false"
								class="form-control"
								datepicker-popup="{{coursevm.datetimepicker.format}}" 
								min-date="{{coursevm.datetimepicker.minDate}}"
								max-date="'2016-06-22'"
								close-text="Close"
								vcd-date-keys
								vcd-fix-datetimepicker-format />
						
						<span class="input-group-btn">
							<button
								type="button" 
								class="btn btn-default" 
								ng-click="coursevm.openDatetimePicker($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<div class="col-xs-8"></div>
			</div>			
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="duration">Duration:</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-xs-2">
					<input type="text" class="form-control" id="duration" ng-maxlength="3" maxlength="3" placeholder="60" ng-model="coursevm.courseModel.duration" vcd-only-numbers />
				</div>
				<div class="col-xs-10">
					<span class="help-block" vcd-human-duration ng-model="coursevm.courseModel.duration"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="selectedSourceAuthors">Authors:</label>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-xs-4">
					<select multiple class="form-control no-scroll pull-left" ng-options="author.name for author in coursevm.targetAuthors" ng-model="coursevm.selectedTargetAuthors"></select>
				</div>
				<div class="col-xs-2">
					<div class="vert-offset-bottom-1">
						<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="coursevm.addAuthors()">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						</button>
					</div>
					<div>
						<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="coursevm.removeAuthors()">
							<span class="glyphicon glyphicon-arrow-right" aria-hidden="true" ></span>
						</button>
					</div>
				</div>
				<div class="col-xs-4">
					<select multiple class="form-control no-scroll pull-right" ng-options="author.name for author in coursevm.sourceAuthors" ng-model="coursevm.selectedSourceAuthors"></select>
				</div>
				<div class="col-xs-2"></div>
			</div>
		</div>
		<div class="col-sm-5"></div>
  	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save</button>
			<imput type="button" class="btn btn-default" ng-click="coursevm.cancel()">Cancel</button>
		</div>
	</div>
</form>