<ol class="breadcrumb">
  <li ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }">
      <a ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName }}&nbsp;</a>
      <span ng-show="$last">{{ crumb.displayName }}</span>
  </li>
</ol>