    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control" vcd-enter="coursesvm.filter()" ng-model="coursesvm.searchString" placeholder="Start typing name or date"
            tooltip="You can filter by Title; StartDate(for ex.: 08.08.2015) and Duration (for ex.: 1 hour 44 min or 53 min) ()" />
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" ng-click="coursesvm.filter()">Find</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success pull-right" ui-sref="courses.add">Add new course</button>
        </div>
    </div>
    
    <hr />
        
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled">
                <li ng-repeat="course in coursesvm.model.courses" class="slide">
                    
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h1 class="panel-title">{{course.name}}</h1>
                                    <h6 class="text-info"><i>
                                        <b>Authors:</b> <span  ng-repeat="author in course.authors">
                                            {{author.name}}<span ng-show="!$last">;</span>
                                        </span>
                                    </h6></i>
                                </div>
                                <div class="col-xs-6">
                                     <span class="pull-right">Start date: {{course.startDate | date : 'dd.MM.yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img data-src="holder.js/100x100?theme=social&text=Video Course" class="img-thumbnail" vcd-fix-holderjs>
                                </div>
                                <div class="col-md-10">{{course.description}}</div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                             <div class="row">
                                 <div class="col-xs-6">
                                    <h5 class="pull-left">Course duration: <vcd-human-duration ng-model="course.duration" /></h5>
                                 </div>
                                 <div class="col-xs-6">
                                     <span class="pull-right">
                                         <button class="btn btn-danger" ng-click="coursesvm.remove(course)">Delete</button>
                                         <button class="btn btn-warning" ui-sref="courses.edit({courseId:course.id})">Edit</button>
                                     </span>
                                 </div>
                             </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>