<div ng-controller="HeaderController as headervm">
    <div class="row">
        <div class="col-xs-2">
            <a href="/app/#/coureses/list">
                <img src="holder.js/150x150?theme=vine&text=Collection of \n Video Courses" class="img-thumbnail" vcd-fix-holderjs />
            </a>
        </div>
        <div class="col-xs-8 text-center">
            <h1><u>Video Courses' collection</u></h1>
            <h3 class="bg-success" ng-show="headervm.courses.amount">{{headervm.courses.amount}} courses in catalog<h3>
        </div>
        <div class="bottom-align-text col-xs-2">
                <div class="pull-right" ng-show="headervm.LoggedUser.username"> 
                    <div class="row">
                        <div class="col-xs-12">
                            <span>User name: <b>{{headervm.LoggedUser.username}}</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="" ng-click="headervm.logout()">
                                <span class="glyphicon glyphicon-log-out pull-right" aria-hidden="true" />
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<div>
<hr />
<div ng-show="headervm.LoggedUser.username">
    <vcd-breadcrumbs displayname-property="data.displayName"></vcd-breadcrumbs>
    <hr />
</div>

