<div class="col-md-6 col-md-offset-3">
    <h2>Welcome to Site Name</h2>
    
    <div ng-show="loginvm.error" class="alert alert-danger text-center">
        {{loginvm.error}}
    </div>
    
    <form name="loginvm.form" ng-submit="loginvm.login()" role="form" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : loginvm.form.username.$invalid && !loginvm.form.username.$pristine }">
            <label class="col-sm-2 control-label" for="username" >Username</label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    name="username" 
                    id="username" 
                    class="form-control" 
                    ng-model="loginvm.username"
                    placeholder="Username"
                    ng-pattern="loginvm.pattern"
                    maxlength="12"
                    ng-model-options="{ updateOn: 'blur' }"
                    required
                    autofocus />
                    
                    <span ng-show="loginvm.form.username.$touched && loginvm.form.username.$dirty && loginvm.form.username.$error.required" class="help-block">Username is required</span>
                    <span ng-show="loginvm.form.username.$touched && loginvm.form.username.$dirty && loginvm.form.username.$error.pattern" class="help-block">Only latin symbols are allowed</span>
                    <span ng-show="loginvm.form.username.$touched && loginvm.form.username.$dirty && loginvm.form.username.$error.maxlength" class="help-block">Max 12 symols allowed</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginvm.form.password.$invalid && !loginvm.form.password.$pristine }">
            <label class="col-sm-2 control-label" for="password">Password</label>
            <div class="col-sm-10">
                <input 
                    type="password"
                    name="password"
                    id="password" 
                    class="form-control" 
                    ng-model="loginvm.password" 
                    placeholder="Password" 
                    ng-model-options="{ updateOn: 'blur' }"
                    required 
                    ng-minlength="4"
                    vcd-numbers-and-letters-validator />
                    
                        <span ng-show="loginvm.form.password.$touched && loginvm.form.password.$dirty && loginvm.form.password.$error.required" class="help-block">Password is required</span>
                        <span ng-show="loginvm.form.password.$touched && loginvm.form.password.$dirty && loginvm.form.password.$error.minlength" class="help-block">Min length of password: 3 symbols</span>
                        <span ng-show="loginvm.form.password.$touched && loginvm.form.password.$dirty && loginvm.form.password.$error.password" class="help-block">Password should contain only latin symbols and numbers</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-lg btn-primary btn-block pull-right">Login</button>
                <!--ng-disabled="signin.form.$invalid" -->
            </div>
        </div>
    </form>
</div>