<div class="modal-content">
    <div class="modal-header alert alert-danger">
        <p>Form cannot be submited.</p> <p>Fix the following errors</p>
    </div> 
    <div class="modal-body">
        <ul>
            <li ng-repeat="error in modalvm.data">
                <div>{{error.message}}</div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalvm.ok()">Ok</button>
    </div>
</div>