<div class="modal-content">
    <div class="modal-header">
        <h3>Delete Course?</h3>
    </div> 
    <div class="modal-body">
        Are you shure you want to delete course: '{{modalvm.data.name}}'
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="modalvm.ok()">No</button>
        <!-- strainge result no -> yes. yes -> no -->
        <button class="btn btn-danger" ng-click="modalvm.no()" autofocus>Yes</button>
    </div>
</div>