<div class="modal-content">
    <div class="modal-header  alert alert-warning">
        <h3>Course has been chaged. Forget everything?</h3>
    </div> 
    <div class="modal-body">
		<p><b>"Yes"</b> to close form without saving.</p>
		<p><b>"No"</b> to return in editing mode.</p>
    </div>
    <div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalvm.no()">Yes</button>
        <button class="btn btn-primary" ng-click="modalvm.ok()">No</button>
    </div>
</div>